:root {
  /* --main-color : #e6e6fa;
  --border-color : #b4b4e2;
  --hover-color : #1f6662; */
  --main-color : #fae6f6;
  --border-color : #e2b4d0;
  --hover-color : #ad62a8;
}

* {
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  text-align: center;
  margin: 0 auto;
}

/* # Header component */

.header {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100vw;
}

.header h1 {
  font-size: 2rem;
  margin-left: 5%;
  cursor: pointer;
}

.header-select {
  margin-right: 5%;
}

#header-select {
  justify-content: right;
  width: 1.3rem;
  outline: none;
  border: 1px solid var(--main-color);
  font-size: 1.2rem;
  border-radius: 10px;
  outline: 0;
}

/* # Search component */

.search-sort {
  padding: .5rem 1rem;
  margin-top: 2rem;
  border: 1px solid var(--main-color);
  font-size: 1.2rem;
  border-radius: 10px;
  outline: 0;
}

.search-sort:hover {
  box-shadow: 0 0 20px var(--main-color);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* # list component */

.main-img-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.img-container {
  width: 30%;
  cursor: pointer;
  border-radius: 20px;
  padding: 1rem;
  outline: 1px solid var(--border-color);
}

.img-container:hover {
  box-shadow: 0 0 25px var(--hover-color);
}

.img {
  width: 80%;
  height: 200px;
  margin: 1rem;
}

/* # Footer Component */

.footer-container {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.footer-container p {
  font-size: 1rem;
  font-weight: bold;
  width: 10%;
  cursor: pointer;
}

.footer-container p:hover {
  box-shadow: 0 0 10px var(--hover-color);
  outline: 1px solid var(--border-color);
  border-radius: 5px;
}

